.testimonials {

    .swiper-button-prev,
    .swiper-button-next {
        //overriding swiper rules
        background-image: none;
        background-size: cover;
        width: 3rem;
        height: 3rem;
    }



    .right-arrow,
    .left-arrow {
        .icon {
            @include adding-arrows-styling;

        }
    }




    .testimonial-content {
        text-align: center;
        width: 100%;
        margin: 1rem auto;
        padding: 4rem .5rem 2rem;

        border-radius: 1rem 1rem 0 0;
        border-bottom: .25rem solid $ma-main-color;
        @include ma-box-shadow(0, 0, 20, 0, rgba($ma-black-color, .1));
        background: $ma-white-color;

        @include ma-md-screens {
            max-width: 90%;
        }

        .content {

            padding-#{$start-direction}: 1rem;
            padding-#{$end-direction}: 1rem;
            margin-bottom: 1rem;


        }

        .testimonial-text {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            font-style: italic;
            color: $ma-semi-dark-grey-color;
            padding: 0;
            margin: 0;

            @include ma-md-screens {
                font-size: 1.15rem;
            }

        }

        .customer-info {
            margin-top: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 4.5rem;
                height: 4.5rem;
                border: 3px solid $ma-main-color;
                border-radius: 50%;
            }

            .customer-details {
                display: inline-block;
                text-align: #{$start-direction};
                margin-#{$start-direction}: .5rem;

                .customer-name,
                .customer-role {
                    text-transform: capitalize;
                    font-weight: 600;
                    margin-bottom: 0;
                    padding-top: 0;
                    padding-bottom: 0;

                }

                .customer-name {
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: $ma-dark-grey-color;

                }

                .customer-role {
                    font-size: 1rem;
                    color: $ma-main-color;
                }
            }
        }

        .customer-testimonial {
            position: relative;

        }

        .icon {
            position: absolute;
            top: -3rem;
            #{$start-direction}: 1.5rem;
            #{$end-direction}: auto;
            display: block;
            font-size: 6rem;
            opacity: .1;
            color: $ma-main-color;
            transform: scaleX(-1 * $x-axe-direction);

            @include ma-md-screens {
                top: -4rem;
                font-size: 6rem;
            }
        }

    }

    &.testimonials-1-col {
        .testimonial-content {
            width: 80%;

            @include ma-md-screens {
                width: 100%;
            }

        }

    }

    &.testimonials-2-col {
        .testimonial-content {
            width: 100%;
        }

    }

    &.testimonials-3-col {
        .testimonial-content {
            width: 100%;
        }

    }
}